*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.body{
    background-color: rgba(255, 237, 36, 0.863);
}

// inicio //

@import "utilities/inicio";

// nosotros //

@import "utilities/nosotros";

// variables //

@import "utilities/variables";

// nav //

@import "utilities/nav";

// footer //

@import "utilities/footer";

// clientes //

@import "utilities/clientes";

// servicios //

@import "utilities/servicios";

// contacto //

@import "utilities/contacto";

