* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Mono', monospace; }

.body {
  background-color: rgba(255, 208, 0, 0.863); }

/* index */
/* grid index */
.body {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }
  .body .tituloPr {
    color: #111111;
    font-size: 5rem;
    position: absolute;
    text-align: center;
    margin-left: 25%; }
  .body h2 {
    color: rgba(255, 208, 0, 0.863);
    font-weight: normal;
    text-align: center;
    font-size: 3rem; }
  .body .h3Pr {
    color: rgba(255, 208, 0, 0.863);
    font-weight: normal;
    text-align: center;
    font-size: 1.5rem; }
  .body .subtitulos {
    background-color: #141414;
    margin-top: 6rem;
    width: 100%;
    position: absolute;
    padding: 8rem; }
  .body .imgFondo {
    justify-content: center;
    position: relative;
    width: 100%;
    opacity: 25%;
    height: 100%; }

/* Nosotros */
.container .row {
  margin-top: 6rem; }
  .container .row .col h1 {
    font-weight: bold;
    text-align: center;
    font-size: 3.5rem; }
  .container .row .col p {
    font-weight: bold;
    text-align: center; }
  .container .row .col img {
    box-shadow: 3px 3px black;
    width: 90%;
    align-items: center;
    margin-top: 2%;
    border-radius: 10%; }
  .container .row .col h2 {
    color: #111111;
    font-weight: bold; }

.container div h2 {
  color: #111111;
  font-weight: bold; }

.container div p {
  font-weight: bold;
  text-align: center; }

/* Media mobile */
/* css complementario del nav */
.navbar .offcanvas-header {
  background-color: #202025; }

.navbar .offcanvas-title {
  color: #ffd000; }

.navbar .offcanvas-body {
  background-color: #ffd000; }

.navbar .navbar-toggler {
  color: rgba(255, 208, 0, 0.863);
  background-color: #ffd000; }

.navbar .navbar-toggler-icon {
  background-color: #ffd000; }

.navbar .navbar-brand {
  background-color: #202025;
  border-radius: 10px;
  color: #ffd000;
  padding: 0.4rem; }

/* css del footer */
.footer {
  grid-area: footer;
  text-align: center;
  background-color: black;
  color: rgba(255, 208, 0, 0.863);
  margin-top: 12rem;
  padding: 3rem; }
  .footer .icono {
    text-decoration: none;
    color: rgba(255, 208, 0, 0.863);
    margin: 0.5rem; }
