* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Mono', monospace; }

.body {
  background-color: rgba(255, 208, 0, 0.863); }

/* index */
/* grid index */
.body {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }
  .body .tituloPr {
    color: #111111;
    font-size: 5rem;
    position: absolute;
    text-align: center;
    margin-left: 25%;
    margin-top: 4.5rem;
    font-weight: bolder; }
  .body h2 {
    color: rgba(255, 208, 0, 0.863);
    font-weight: normal;
    text-align: center;
    font-size: 3rem; }
  .body .h3Pr {
    color: rgba(255, 208, 0, 0.863);
    font-weight: normal;
    text-align: center;
    font-size: 1.5rem; }
  .body .subtitulos {
    background-color: #141414;
    margin-top: 12rem;
    width: 100%;
    position: absolute;
    padding: 8rem; }
  .body .imgFondo {
    justify-content: center;
    position: relative;
    width: 100%;
    opacity: 25%;
    height: 128.5%; }

/*media mobile*/
/* Nosotros */
.container .row {
  margin-top: 6rem; }
  .container .row .col h1 {
    text-align: center;
    background-color: #111111;
    color: rgba(255, 208, 0, 0.863);
    padding: 2rem;
    font-size: 3.5rem;
    font-weight: bolder; }
  .container .row .col p {
    font-weight: bold;
    text-align: center; }
  .container .row .col img {
    box-shadow: 3px 3px #202025;
    width: 90%;
    align-items: center;
    margin-top: 2%;
    border-radius: 10%; }
  .container .row .col h2 {
    color: #111111;
    font-weight: bolder; }

.container div h2 {
  color: #111111;
  font-weight: bold; }

.container div p {
  font-weight: bold;
  text-align: center; }

/* Media mobile */
/* css complementario del nav */
.navbar .offcanvas-header {
  background-color: #202025; }

.navbar .offcanvas-title {
  color: #ffd000; }

.navbar .offcanvas-body {
  background-color: #ffd000; }

.navbar .navbar-toggler {
  color: rgba(255, 208, 0, 0.863);
  background-color: #ffd000; }

.navbar .navbar-toggler-icon {
  background-color: #ffd000; }

.navbar .navbar-brand {
  background-color: #202025;
  border-radius: 10px;
  color: #ffd000;
  padding: 0.4rem; }

/* css del footer */
.footer {
  grid-area: footer;
  text-align: center;
  background-color: #202025;
  color: rgba(255, 208, 0, 0.863);
  margin-top: 12rem;
  padding: 3rem; }
  .footer .icono {
    text-decoration: none;
    color: rgba(255, 208, 0, 0.863);
    margin: 0.5rem; }
  .footer h5 {
    padding-top: 2.5rem;
    font-size: 1rem; }
  .footer svg:hover {
    transform: scale(1.5); }

/* Clientes */
.sectionClientes {
  display: grid;
  grid-template-areas: "imagenCinco imagenSeis imagenTres imagenCuatro" "imagenDos imagenUno imagenOcho imagenSiete";
  justify-items: center;
  align-items: center; }

.sectionClientes {
  margin-top: 0.5rem;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: center; }
  .sectionClientes .imagenUno {
    grid-area: imagenUno;
    margin: 1rem; }
  .sectionClientes .imagenDos {
    grid-area: imagenDos;
    margin: 1rem; }
  .sectionClientes .imagenTres {
    grid-area: imagenTres;
    margin: 1rem; }
  .sectionClientes .imagenCuatro {
    grid-area: imagenCuatro;
    margin: 1rem; }
  .sectionClientes .imagenCinco {
    grid-area: imagenCinco;
    margin: 1rem; }
  .sectionClientes .imagenSeis {
    grid-area: imagenSeis;
    margin: 1rem; }
  .sectionClientes .imagenSiete {
    grid-area: imagenSiete;
    margin: 1rem; }
  .sectionClientes .imagenOcho {
    grid-area: imagenOcho;
    margin: 1rem; }

.tituloClientes {
  text-align: center;
  margin-top: 3.5rem;
  background-color: #202025;
  color: rgba(255, 208, 0, 0.863);
  padding: 2rem;
  font-size: 3.5rem;
  font-weight: bolder; }

.logosClientes {
  border-radius: 10%; }

.logosClientes:hover {
  border: 5px solid;
  transform: scale(1.2); }

/* mobile clientes */
/*media mobile*/
@media screen and (max-width: 600px) {
  .sectionClientes {
    display: grid;
    grid-template-areas: "imagenSiete" "imagenCinco" "imagenCuatro" "imagenDos" "imagenTres"  "imagenOcho"  "imagenUno"  "imagenSeis"; }
  .tituloClientes {
    font-size: 3.5rem;
    margin-top: 6rem; } }

/* Servicios */
.mainDos {
  display: grid;
  grid-template-areas: "servicios imagenSeccion" "consultora mediciones" "ambiente incendio" "habilitacion habilitacion";
  justify-items: center;
  align-items: center; }
  .mainDos .primeraServicios {
    grid-area: servicios;
    width: 80%; }
  .mainDos .imagenSeccion {
    grid-area: imagenSeccion; }
  .mainDos .consultoria {
    grid-area: consultora;
    background-color: #202025;
    border-radius: 6%;
    padding: 0.8rem;
    margin: 1.5rem;
    width: 35rem;
    height: 23rem;
    box-sizing: border-box; }
  .mainDos .mediciones {
    grid-area: mediciones;
    background-color: #202025;
    border-radius: 6%;
    padding: 0.8rem;
    margin: 1.5rem;
    width: 35rem;
    height: 23rem;
    box-sizing: border-box; }
  .mainDos .ambiente {
    grid-area: ambiente;
    background-color: #202025;
    border-radius: 6%;
    padding: 0.8rem;
    margin: 1.5rem;
    width: 35rem;
    height: 23rem;
    box-sizing: border-box;
    height: 15rem; }
  .mainDos .incendios {
    grid-area: incendio;
    background-color: #202025;
    border-radius: 6%;
    padding: 0.8rem;
    margin: 1.5rem;
    width: 35rem;
    height: 23rem;
    box-sizing: border-box;
    height: 15rem; }
  .mainDos .habilitacion {
    grid-area: habilitacion;
    background-color: #202025;
    border-radius: 6%;
    padding: 0.8rem;
    margin: 1.5rem;
    width: 35rem;
    height: 23rem;
    box-sizing: border-box; }
  .mainDos .tituloServicios {
    margin-top: 6rem;
    text-align: center;
    background-color: #202025;
    color: rgba(255, 208, 0, 0.863);
    padding: 2rem;
    font-size: 3.5rem;
    font-weight: bolder; }

.imagenServicios {
  margin-top: 5rem;
  border-radius: 10%;
  width: 90%;
  box-shadow: 3px 3px #202025; }

.imagenTipoUno {
  border-radius: 10%;
  margin-left: 12.5rem;
  padding: 0.5rem; }

.imagenTipoDos {
  border-radius: 10%;
  margin-left: 12.5rem;
  padding: 0.5rem; }

.imagenTipoTres {
  border-radius: 10%;
  margin-left: 12.5rem;
  padding: 0.5rem; }

.imagenTipoCuatro {
  border-radius: 10%;
  margin-left: 12.5rem;
  padding: 0.5rem; }

.imagenTipoCinco {
  border-radius: 10%;
  margin-left: 12.5rem;
  padding: 0.5rem; }

.tituloServiciosPrestados {
  text-align: center;
  font-weight: bolder;
  color: rgba(255, 208, 0, 0.863);
  font-size: 1.8rem;
  border-radius: 10%;
  color: rgba(255, 208, 0, 0.863); }

.parrafoServiciosPrestados {
  text-align: center;
  font-weight: bolder;
  color: rgba(255, 208, 0, 0.863); }

.parrafoServicios {
  text-align: center;
  font-weight: bolder;
  color: rgba(255, 208, 0, 0.863);
  color: black;
  font-size: 1.5rem; }

/* Contacto */
.contactanos {
  display: grid;
  grid-template-areas: "inicioContacto inicioContacto" "datosContacto ubicacion" "formulario formulario";
  justify-items: center;
  align-items: center; }
  .contactanos .inicioContacto {
    grid-area: inicioContacto; }
    .contactanos .inicioContacto .tituloContacto {
      text-align: center;
      margin-top: 3.5rem;
      background-color: #202025;
      color: rgba(255, 208, 0, 0.863);
      padding: 2rem;
      font-size: 3.5rem;
      font-weight: bolder; }
    .contactanos .inicioContacto .infoContacto {
      text-align: center;
      margin-left: 8%;
      margin-right: 8%;
      margin-top: 2%;
      margin-bottom: 3%;
      font-size: 1.5rem; }
  .contactanos .datosContacto {
    grid-area: datosContacto; }
    .contactanos .datosContacto .listaContacto {
      list-style: none;
      font-size: 1.5rem;
      text-align: center;
      background-color: #202025;
      border-radius: 10px;
      margin-left: 20%;
      color: rgba(255, 208, 0, 0.863);
      padding: 1rem; }
  .contactanos form {
    width: 600px;
    margin: auto;
    background-color: #202025;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px; }
    .contactanos form .tituloForm {
      color: rgba(255, 208, 0, 0.863);
      text-align: center;
      margin: 0%;
      font-size: 30px;
      margin-bottom: 20px; }
    .contactanos form input, .contactanos form textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      box-sizing: border-box;
      font-size: 17px;
      border: none;
      font-weight: bolder; }
    .contactanos form textarea {
      min-height: 100px;
      max-height: 200px;
      max-width: 100%; }
    .contactanos form #boton {
      background: rgba(255, 208, 0, 0.863);
      padding: 20px;
      font-weight: bolder; }
  .contactanos .ubicacion {
    grid-area: ubicacion; }
  .contactanos .formulario {
    grid-area: formulario; }
