/* css del footer */

.footer{
    grid-area: footer;
    text-align: center;
    background-color: rgb(32, 32, 37);
    color: rgba(255, 237, 36, 0.863);
    margin-top: 12rem;
    padding: 3rem;
    
    .icono{
        text-decoration: none;
        color: rgba(255, 237, 36, 0.863);
        margin: 0.5rem;
        }

    h5{
        padding-top: 2.5rem;
        font-size: 1rem;
    }

    svg:hover{
        transform: scale(1.5);
    }

}