/* css del footer */

.footer{
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: rgba(255, 208, 0, 0.863);
    margin-top: 12rem;
    padding: 3rem;
    
    .icono{
        text-decoration: none;
        color: rgba(255, 208, 0, 0.863);
        margin: 0.5rem;
        }

}