/* index */

/* grid index */

.body{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";

.tituloPr{
    color: rgb(17, 17, 17);
    font-size: 5rem;
    position: absolute;
    text-align: center;
    margin-left: 25%;
    margin-top: 4.5rem;
    font-weight: bolder;

}
h2{
    color: rgba(255, 208, 0, 0.863);
    font-weight: normal;
    text-align: center;
    font-size: 3rem;
}
.h3Pr{
    color:rgba(255, 208, 0, 0.863);
    font-weight: normal;
    text-align: center;
    font-size: 1.5rem;
}

.subtitulos{
    background-color: rgb(20, 20, 20);
    margin-top: 12rem;
    width: 100%;
    position: absolute;
    padding: 8rem;
    
}

.imgFondo{
    justify-content: center;
    position: relative;
    width: 100%;
    opacity: 25%;
    height: 128.5%;
    
}

}

/*media mobile*/

@media screen and ( max-width: 600px ) {

.body{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";

.tituloPr{
    font-size: 3rem;
    margin-left: 1%;
    margin-top: 5rem;
    position: static;
}

h2{
    font-size: 2rem;
    margin-top: 15%;
}
.h3Pr{
    font-size: 1rem;
}

.subtitulos{
    margin-top: 0.5rem;
    width: 100%;
    position: absolute;
    padding: 2rem;
    height: 25rem;
  
}

.imgFondo{
    justify-content: center;
    position: relative;
    width: 100%;
    opacity: 25%;
    height: 25rem;
    margin-top: 0.5rem;
    
}

}

}

/* media tablet */


@media screen and ( min-width: 601px ) and (max-width:1200px)  {

    .body{
    
    .tituloPr{
        font-size: 3rem;
        margin-left: 1%;
        margin-top: 5rem;
        position: static;
    }
    
    h2{
        font-size: 2rem;
        margin-top: 15%;
    }
    .h3Pr{
        font-size: 1rem;
    }
    
    .subtitulos{
        margin-top: 0.5rem;
        width: 100%;
        position: absolute;
        padding: 2rem;
        height: 25rem;
      
    }
    
    .imgFondo{
        justify-content: center;
        position: relative;
        width: 100%;
        opacity: 25%;
        height: 25rem;
        margin-top: 0.5rem;
        
    }
    
    }
    
    }