/* css complementario del nav */

.navbar{

.offcanvas-header{
    background-color: rgb(32, 32, 37);
}

.offcanvas-title{
    color: rgba(255, 237, 36, 0.863);

}

.offcanvas-body{
    background-color: rgba(255, 237, 36, 0.863);

}

.navbar-toggler{
    color: rgba(255, 237, 36, 0.863);
    background-color: rgba(255, 237, 36, 0.863);
}

.navbar-toggler-icon{
    background-color: rgba(255, 237, 36, 0.863);
}



.navbar-brand{
    background-color: rgb(32, 32, 37);
    border-radius: 10px;
    color: rgba(255, 237, 36, 0.863);
    padding: 0.4rem;
}

}