/* Servicios */

.mainDos{
    display: grid;
    grid-template-areas:"servicios imagenSeccion"
                        "consultora mediciones"
                        "ambiente incendio"
                        "habilitacion habilitacion" ;
    justify-items: center;
    align-items: center;

.primeraServicios{
    grid-area: servicios;
    width: 90%;
}
.imagenSeccion{
    grid-area: imagenSeccion;
}

@mixin card-servicios {
    background-color: rgb(32, 32, 37);
    border-radius: 6%;
    padding: 0.8rem;
    margin-top: 1.6rem;
    width: 35rem;
    height: 23rem;
    box-sizing: border-box;
    max-width: 90%;
}
.consultoria{
    grid-area: consultora;
    @include card-servicios();
    

}
.mediciones{
    grid-area: mediciones;
    @include card-servicios();
    margin-left: 0rem;

}
.ambiente{
    grid-area: ambiente;
    @include card-servicios();
    height: 15.5rem;
    

}
.incendios{
    grid-area: incendio;
    @include card-servicios();
    height: 15.5rem;

}
.habilitacion{
    grid-area: habilitacion;
    @include card-servicios();

    
}

.tituloServicios{
    margin-top: 5rem;
    text-align: center;
    @include titulo-principal();
    

}

}
.imagenServicios{
    margin-top: 5.5rem;
    border-radius: 10%;
    width: 90%;
    box-shadow: 3px 3px rgb(32, 32, 37);
}
.imagenTipoUno{
    @include imagenTipo()
}
.imagenTipoDos{
    @include imagenTipo()
}
.imagenTipoTres{
    @include imagenTipo()
}
.imagenTipoCuatro{
    @include imagenTipo()
}
.imagenTipoCinco{
    @include imagenTipo()
}

.tituloServiciosPrestados{
    @include textoServicios();
    font-size: 1.8rem;
    border-radius: 10%;
    color:rgba(255, 237, 36, 0.863);
    
}

.parrafoServiciosPrestados{
    @include textoServicios();
}

.parrafoServicios{
    @include textoServicios();
    color: rgb(32, 32, 37);
    font-size: 1.5rem;
}

/* mobile servicios */

@media screen and ( max-width: 600px ) {

.mainDos{
    display: grid;
    grid-template-areas:"servicios" 
                        "imagenSeccion"
                        "consultora" 
                        "mediciones"
                        "ambiente" 
                        "incendio"
                        "habilitacion" ;
    justify-items: center;
    align-items: center;
    
@mixin card-servicios-mobile {
    width: 95%;
    height: auto;
   
}
.consultoria{
    grid-area: consultora;
    @include card-servicios-mobile();
    

}
.mediciones{
    grid-area: mediciones;
    @include card-servicios-mobile();
    margin-left: 0rem;

}
.ambiente{
    grid-area: ambiente;
    @include card-servicios-mobile();

}
.incendios{
    grid-area: incendio;
    @include card-servicios-mobile();

}
.habilitacion{
    grid-area: habilitacion;
    @include card-servicios-mobile();
    height: auto;
}

.imagenTipoUno{
    @include imagenTipo();
    margin-left: 33%;
   
}
.imagenTipoDos{
    @include imagenTipo();
    margin-left: 33%;
}
.imagenTipoTres{
    @include imagenTipo();
    margin-left: 33%;
}
.imagenTipoCuatro{
    @include imagenTipo();
    margin-left: 33%;
}
.imagenTipoCinco{
    @include imagenTipo();
    margin-left: 33%;
}

.parrafoServicios{
    font-size: 1.3rem;
    margin-left: 10%;
    margin-right: 10%;
}

}

.imagenServicios{
    display: none;
}

.tituloServiciosPrestados{
    font-size: 1.5rem;
    border-radius: 10%;
}

}

@media screen and ( min-width:601px) and (max-width:1200px) {
    .mainDos{
        display: grid;
        grid-template-areas:"servicios" 
                            "imagenSeccion"
                            "consultora" 
                            "mediciones"
                            "ambiente" 
                            "incendio"
                            "habilitacion" ;
        justify-items: center;
        align-items: center;
        
    
    .primeraServicios{
    width: 100%;
    }
    
    .ambiente{
        height: auto;
    }
    .incendios{
        height: auto;
    }
    .habilitacion{
        height: auto;

    }
    
    .imagenServicios{
        display: none;
    }
    .imagenTipoUno{
        margin-left: 12.2rem;
    }
    .imagenTipoDos{
        margin-left: 12.2rem;
    }
    .imagenTipoTres{
        margin-left: 12.2rem;
    }
    .imagenTipoCuatro{
        margin-left: 12.2rem;
    }
    .imagenTipoCinco{
        margin-left: 38.5%;
    }
    
    .tituloServiciosPrestados{
        font-size: 1.5rem;
        border-radius: 10%;
    }
    .parrafoServicios{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }


}
  
}
    

