/* Servicios */

.mainDos{
    display: grid;
    grid-template-areas:"servicios imagenSeccion"
                        "consultora mediciones"
                        "ambiente incendio"
                        "habilitacion habilitacion" ;
    justify-items: center;
    align-items: center;

.primeraServicios{
    grid-area: servicios;
    width: 80%;
}
.imagenSeccion{
    grid-area: imagenSeccion;
}

@mixin card-servicios {
    background-color: rgb(32, 32, 37);;
    border-radius: 6%;
    padding: 0.8rem;
    margin: 1.6rem;
    width: 95%;
    height: 23rem;
    box-sizing: border-box;
    max-width: 100vh;
}
.consultoria{
    grid-area: consultora;
    @include card-servicios();

}
.mediciones{
    grid-area: mediciones;
    @include card-servicios();

}
.ambiente{
    grid-area: ambiente;
    @include card-servicios();
    height: 15.5rem;

}
.incendios{
    grid-area: incendio;
    @include card-servicios();
    height: 15.5rem;

}
.habilitacion{
    grid-area: habilitacion;
    @include card-servicios();
    
}

.tituloServicios{
    margin-top: 6rem;
    text-align: center;
    @include titulo-principal();

}

}
.imagenServicios{
    margin-top: 5rem;
    border-radius: 10%;
    width: 90%;
    box-shadow: 3px 3px rgb(32, 32, 37);;
}
.imagenTipoUno{
    @include imagenTipo()
}
.imagenTipoDos{
    @include imagenTipo()
}
.imagenTipoTres{
    @include imagenTipo()
}
.imagenTipoCuatro{
    @include imagenTipo()
}
.imagenTipoCinco{
    @include imagenTipo()
}

.tituloServiciosPrestados{
    @include textoServicios();
    font-size: 1.8rem;
    border-radius: 10%;
    color:rgba(255, 208, 0, 0.863);
    
}

.parrafoServiciosPrestados{
    @include textoServicios();
}

.parrafoServicios{
    @include textoServicios();
    color: black;
    font-size: 1.5rem;
}

/* mobile servicios */

@media screen and ( max-width: 600px ) {

.mainDos{
    display: grid;
    grid-template-areas:"servicios" 
                        "imagenSeccion"
                        "consultora" 
                        "mediciones"
                        "ambiente" 
                        "incendio"
                        "habilitacion" ;
    justify-items: center;
    align-items: center;
    
}

.primeraServicios{
width: 90%;
}

.ambiente{
    height: 15rem;
}
.incendios{
    height: 15rem;
}

.tituloServicios{
    margin-top: 6rem;
    font-size: 2rem;
    background-color:aqua;
    width: 100%;
}

.imagenServicios{
    margin-top: 4.5rem;
    border-radius: 10%;
    width: 100%
}

.tituloServiciosPrestados{
    font-size: 1.5rem;
    border-radius: 10%;
}

.parrafoServicios{
    @include textoServicios();
    color: black;
    font-size: 1.3rem;
}

}
