$amarillo-principal: rgba(255, 208, 0, 0.863);
$color-secundario: rgb(17, 17, 17);

@mixin titulo-principal{
    background-color: rgb(32, 32, 37);
    color: rgba(255, 208, 0, 0.863);
    padding: 2rem;
    font-size: 3.5rem;
    font-weight: bolder;
}

@mixin textoServicios {
    text-align: center;
    font-weight: bolder;
    color:rgba(255, 208, 0, 0.863);
    
}



@mixin imagenTipo {
    border-radius: 10%;
    margin-left: 12.5rem;
    padding: 0.5rem;
}